.contenedorprincipal {
  display: flex;
  min-height: calc(
    100vh - 173px
  ); /* Esto hará que ocupe toda la altura de la pantalla */
  width: auto;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  flex-direction: column;
}

.header {
  background-color: orange;
}

.titleContacto {
  color: orange;
  margin: 20px;
  font-size: 60px;
  font-style: italic;
  font-weight: 900;
}

@media (max-width: 750px) {
  .contenedorprincipal {
    flex-direction: column;
  }
}
