header,
nav,
ul,
li {
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav img {
  width: 150px;
  margin-top: 10px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav ul li {
  margin-inline: 10px;
  font-size: larger;
}
