header,
nav,
ul,
li {
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  color: black;
  width: 100%;
  font-weight: 800;
  font-size: 18px;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav img {
  width: 100px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav ul li {
  margin-inline: 10px;
  font-size: larger;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav ul li a:hover {
  color: white;
}

.abrirMenu,
.cerrarMenu {
  display: none;
}

/* Reglas de medios para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 750px) {
  .abrirMenu {
    display: block;
  }

  header nav ul {
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: start;
    background-color: rgba(230, 149, 0);
    padding: 20px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
  }

  .navVisible {
    opacity: 1;
    visibility: visible;
  }
}
