header,
nav,
ul,
li {
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  color: black;
  width: 100%;
  font-weight: 800;
  font-size: 18px;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav img {
  width: 100px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav ul li {
  margin-inline: 10px;
  font-size: larger;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav ul li a:hover {
  color: white;
}

/* Reglas de medios para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 750px) {
  header nav {
    flex-direction: column;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
  }

  header nav ul li {
    margin: 10px 0;
  }
}
