h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.container h2 {
  text-align: center;
  color: white;
  font-size: 60px;
}

.title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(rgba(255, 174, 0, 0.5), rgba(255, 174, 0, 0.13)),
    url(https://res.cloudinary.com/dou3yyisb/image/upload/v1697086288/TecnoMateriales/fondo_mxkczd.jpg);
  background-position: center;
  background-size: cover;
}

.title h2 span {
  color: rgb(0, 167, 0);
}

.title p {
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.logo {
  width: 400px;
}

.containerImages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.containerImages img {
  width: 13rem;
}

.contadores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.contador {
  display: flex;
  flex-direction: row;
}

.contador p {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 25px;
  gap: 10px;
  font-weight: 800;
}

.contCarrousel {
  width: 100%;
}

.subTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subTitulo h2 {
  color: black;
  background-color: orange;
  width: 100%;
  margin: 20px;
}

.containerBeneficios {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.beneficios {
  background-color: orange;
  width: 350px;
  padding: 20px;
  border-radius: 0 20px 20px 0;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 800;
  box-shadow: 5px 5px 15px rgb(66, 66, 66);
}
.beneficios h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.aptos {
  background-color: orange;
  width: 350px;
  height: 35rem;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 800;
  box-shadow: 5px 5px 15px rgb(66, 66, 66);
}

.aptos h3 {
  text-align: center;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.iconApto {
  color: rgb(0, 230, 0);
}

.noAptos {
  background-color: orange;
  width: 350px;
  height: 35rem;
  padding: 20px;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 800;
  box-shadow: 5px 5px 15px rgb(66, 66, 66);
}

.noAptos h3 {
  text-align: center;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.iconNoApto {
  color: rgb(230, 0, 0);
}

.aptos h4 {
  text-align: start;
  font-size: 25px;
  color: black;
  margin: 10px;
  padding: 0;
  text-decoration: underline;
}
.aptos p {
  margin-left: 15px;
  padding: 0;
  color: rgb(88, 88, 88);
}

.noAptos h4 {
  text-align: start;
  font-size: 25px;
  color: black;
  margin: 10px;
  padding: 0;
  text-decoration: underline;
}

.noAptos p {
  padding: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgb(88, 88, 88);
}

.beneficios h4 {
  font-size: 25px;
  margin: 10px;
}

.Servicios {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  text-align: center;
}

.Servicios p {
  margin: 20px;
  font-size: 20px;
  font-weight: 800;
}

.Servicios img {
  width: 250px;
}

.materialesAptosYnoAptos {
  background-color: orange;
  width: 550px;
  height: 35rem;
  padding: 20px;
  display: flex;
  gap: 20px;
  border-radius: 20px;
}
.iconCheckList {
  color: rgb(0, 173, 0);
  font-size: 5rem;
}

.containerIconText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 750px) {
  .containerImages {
    flex-direction: column;
    text-align: center;
    z-index: 0;
  }

  .contadores {
    flex-direction: column;
  }
  .logo {
    width: 350px;
  }
}
