* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(36, 36, 36);
}

._contCarrousel_q76fz_149 {
  margin: 0;
}

._contCarrousel_enwkg_149 {
  margin: 0;
}

._contCarrousel_199k5_149 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ant-carousel.css-dev-only-do-not-override-amq5gd {
  width: 90%;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-amq5gd {
  background-color: orange;
  font-weight: 800;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-amq5gd {
  background-color: orange;
}

._contCarrousel_p6lwi_149 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._contCarrousel_1fwmn_149 {
  display: flex;
  justify-content: center;
}

._contCarrousel_11lvi_149 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
