@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(255, 255, 255, 0.767);
}

._contCarrousel_q76fz_149 {
  margin: 0;
}

._contCarrousel_enwkg_149 {
  margin: 0;
}

._contCarrousel_199k5_149 {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-amq5gd {
  background-color: orange;
  font-weight: 800;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-amq5gd {
  background-color: orange;
}

._contCarrousel_p6lwi_149 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._contCarrousel_1fwmn_149 {
  display: flex;
  justify-content: center;
}

._contCarrousel_11lvi_149 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
